<mat-toolbar class="flex justify-between">
	<span class="flex flex-col">
	<span>{{title | titlecase}}</span>
	<span *ngIf="auth.userData$ | async"
	class="flex text-sm text-slate-500 items-center justify-center">{{(auth.userData$.value!.email ?? "") | nameFromEmail}}</span>
	</span>
	<button mat-raised-button color="primary" *ngIf="!(auth.userData$ | async)" (click)="openLoginDialog()">Login</button>
	<button mat-raised-button color="primary" *ngIf="auth.userData$ | async" (click)="auth.SignOut()">Logout</button>
</mat-toolbar>
