.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mdc-data-table__row:hover {
  border-color: black;
}

.mat-mdc-table {
  width: 100%;
  overflow: auto;
  display: table;
}

.table-container {
  display: block;
  max-height: 500px;
  overflow-y: scroll;
}

tr:hover {
  background: #efefef;
}